<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>  
    <script type="text/javascript" src="static/x_scale_generator.js"></script>
    <script type="text/javascript" src="static/y_scale_generator.js"></script>   
    <script type="text/javascript" src="d3/d3.js"></script> 
    <script type="text/javascript" src="static/axis_recommendation.js"></script> 
	<script type="text/javascript" src="static/recommender.js"></script> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
	<link type="text/css" rel="stylesheet" href="static/main.css">
	<link type="text/css" rel="stylesheet" href="static/recom.css">
	<link type="text/css" rel="stylesheet" href="templates/login.html">
  </head>
  <body>
<a href="templates/login.html">wait</a>


    
  </body>
</html>