.axis path,
.axis text,
.axis line {
  fill: none;
  stroke: #FFF;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #FFF;
}
.hidden{
  display:none;
}

.selected{
  stroke-width:2.5;
  stroke:yellow;

}

.colorpicker-position {
  left:30px; top:100px;
}
